
.content{
    width: 20%;
    padding: 10px;
    margin: 20px auto;
    border: solid 1pt #f38181;

}

/*Input*/

.block{
    width: 82%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;

 }

.text{
    margin: 0;
    padding-right: 10px;
}

.button{
    margin: 0 40%;
}


/*Table*/

.table{
    border-collapse: collapse;
    margin: 0 auto;
}

.light_cell {
    height: 50px;
    width: 50px;
    border: solid 1pt #95e1d3;
    background: #95e1d3;
}
.dark_cell {
    height: 50px;
    width: 50px;
    border: solid 1pt #f38181;
    background: #f38181;
}